.containerInfoLogSpring {
    font-size: 12px;
    width: 900px;
    height: 600px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    overflow: scroll;
}

.line {
    width: 100%;
    word-break: break-all;
}