.containerDashBoard {
    position: relative;
    width: 100%;
    background-color: #eee;
}

.block {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.containerOnlineUsers {
    width: 30%;
    background-color: yellow;
    background-color: #fff;
    border-radius: 10px;
}

.userOnline {
    background-color: yellow;
}

.containerServices {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-left: 7.5%;
    margin-right: 22%;
    position: relative;
}

.mongoDB,
.spring,
.spark,
.servidor {
    position: absolute;
}

.mongoDB {
    top: 35%;
    left: 55%;
    width: 120px;
    height: 100px;
}

.spring {
    top: 29%;
    left: 55%;
    width: 150px;
    height: 130px;
}

.spark {
    top: 45%;
    left: 68%;
    width: 80px;
    height: 50px;
}

.servidor {
    top: 43%;
    left: 70%;
}