.containerDashBoard {
    position: relative;
    width: 100%;
    background-color: #eee;
}

.block {
    margin: 0px auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.containerOnlineUsers {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    height: 530px;
    overflow: scroll;
}

.titleOnlineUsers {
    background-color: #fdfdfd;
    display: flex;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.userOnline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.userOnline div {
    width: 17px;
    height: 17px;
    background-color: rgb(9, 255, 0);
    border-radius: 50%;
}

.containerServices {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 25px;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}

.mongoDB,
.java,
.servidor {
    position: absolute;
}

.mongoDB {
    top: 35%;
    left: 55%;
    width: 120px;
    height: 100px;
}

.java {
    top: 40%;
    left: 65%;
    width: 90px;
    height: 70px;
}

.servidor {
    top: 43%;
    left: 70%;
}